.live{
  &__mainWindow{
    width: 1000px;
    height: 600px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
  &__subscribers{
    width: 200px;
    max-height: 600px;
    overflow-y: scroll;
    display: block;
    align-items: center;
    border: 1px solid;
  }
  &__singleUser{
    align-self: center;
    border: 2px solid;
    width: 150px;
    min-height: 150px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-self: center;
  }
  &__btnStart{
    width: 100px;
    height: 50px;
  }
  &__btnEnd{
    width: 100px;
    height: 50px;
  }
  &__buttonwrapper{
    display: flex;
    flex-direction: column;
    width: 120px;
  }
  &__lectorwindow{
    width: 840px;
    height: 600px ;
    border: 2px solid black;
  }
  &__remoteUser{
    width: 150px;
    height: 150px;
    background-color: gray;
    border: 2px solid black;
  }
  &__remoteUserMute{
    width: 150px;
    height: 150px;
    border: 2px solid red;
  }
}